<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ynu.travel.mapper.ent.PerformEntityMapper" >
  <resultMap id="BaseResultMap" type="edu.ynu.travel.entity.ent.PerformEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scenic_id" property="scenicId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time_frame" property="timeFrame" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="PerformMap" type="edu.ynu.travel.message.ent.PerformMessage" >
    <id column="p_id" property="id" jdbcType="INTEGER" />
    <result column="scenic_id" property="scenicId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time_frame" property="timeFrame" jdbcType="VARCHAR" />
    <collection property="images" ofType="edu.ynu.travel.entity.common.ImageEntity" javaType="ArrayList">
      <id column="i_id" property="id" jdbcType="INTEGER" />
      <result column="foreign_id" property="foreignId" jdbcType="INTEGER" />
      <result column="url" property="url" jdbcType="VARCHAR" />
      <result column="title" property="title" jdbcType="VARCHAR" />
      <result column="model" property="model" jdbcType="VARCHAR" />
      <result column="description" property="description" jdbcType="LONGVARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, scenic_id, address, content, name,time_frame
  </sql>

  <select id="selectByPrimaryKey" resultMap="PerformMap" parameterType="java.lang.Integer" >
    select 
    e.id as p_id, scenic_id, address, content, name, time_frame
    ,i.id as i_id,foreign_id,url,title,model,description
    from ent_show_info e LEFT JOIN image i ON e.id = i.foreign_id AND i.model="ent"
    where e.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByScenicId" resultMap="PerformMap" parameterType="java.lang.Integer" >
    select
    e.id as p_id, scenic_id, address, content, name, time_frame
    from ent_show_info e
    where e.scenic_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from ent_show_info
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 25 22:27:18 CST 2016.
    -->
    delete from ent_show_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="edu.ynu.travel.entity.ent.PerformEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 25 22:27:18 CST 2016.
    -->
    insert into ent_show_info (id, scenic_id, address, 
      content, name, time_frame)
    values (#{id,jdbcType=INTEGER}, #{scenicId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{time_frame,jdbcType=VARCHAR},
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="edu.ynu.travel.entity.ent.PerformEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 25 22:27:18 CST 2016.
    -->
    insert into ent_show_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="scenicId != null" >
        scenic_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="timeFrame != null" >
        time_frame,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scenicId != null" >
        #{scenicId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="timeFrame != null" >
        #{time_frame,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.ynu.travel.entity.ent.PerformEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 25 22:27:18 CST 2016.
    -->
    update ent_show_info
    <set >
      <if test="scenicId != null" >
        scenic_id = #{scenicId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="timeFrame != null" >
        time_frame = #{timeFrame,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.ynu.travel.entity.ent.PerformEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 25 22:27:18 CST 2016.
    -->
    update ent_show_info
    set scenic_id = #{scenicId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      time_frame=#{timeFrame,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>