<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ynu.travel.mapper.scenic.ScenicEntityMapper" >
  <resultMap id="BaseResultMap" type="edu.ynu.travel.entity.scenic.ScenicEntity" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="scenic_name" property="scenicName" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="btn_text" property="btnText" jdbcType="VARCHAR" />
    <result column="short_desc" property="shortDesc" jdbcType="VARCHAR" />
    <result column="scenic_level" property="scenicLevel" jdbcType="VARCHAR" />
    <result column="scenic_price" property="scenicPrice" jdbcType="VARCHAR" />
    <result column="scenic_type" property="scenicType" jdbcType="VARCHAR" />
    <result column="scenic_site" property="scenicSite" jdbcType="VARCHAR" />
    <result column="scenic_area" property="scenicArea" jdbcType="VARCHAR" />
    <result column="scenic_description" property="scenicDescription" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="ScenicMap" type="edu.ynu.travel.message.scenic.ScenicMessage" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="scenic_name" property="scenicName" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="btn_text" property="btnText" jdbcType="VARCHAR" />
    <result column="short_desc" property="shortDesc" jdbcType="VARCHAR" />
    <result column="scenic_level" property="scenicLevel" jdbcType="VARCHAR" />
    <result column="scenic_price" property="scenicPrice" jdbcType="VARCHAR" />
    <result column="scenic_type" property="scenicType" jdbcType="VARCHAR" />
    <result column="scenic_site" property="scenicSite" jdbcType="VARCHAR" />
    <result column="scenic_area" property="scenicArea" jdbcType="VARCHAR" />
    <result column="scenic_description" property="scenicDescription" jdbcType="LONGVARCHAR" />
    <collection property="Imgs" ofType="edu.ynu.travel.entity.common.ImageEntity" javaType="ArrayList">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="foreign_id" property="foreignId" jdbcType="INTEGER" />
      <result column="url" property="url" jdbcType="VARCHAR" />
      <result column="title" property="title" jdbcType="VARCHAR" />
      <result column="model" property="model" jdbcType="VARCHAR" />
      <result column="description" property="description" jdbcType="LONGVARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 23 09:27:10 CST 2016.
    -->
    sid, scenic_name, city, btn_text, short_desc, scenic_level, scenic_price, scenic_type, 
    scenic_site, scenic_area, scenic_description
  </sql>
  <sql id="Blob_Column_List" >

  </sql>
  <select id="selectByPrimaryKey" resultMap="ScenicMap" parameterType="java.lang.Integer" >
  select
  <include refid="Base_Column_List" />
  from scenic s
  where s.sid = #{sid,jdbcType=INTEGER}
</select>

  <select id="listAllScenic" resultMap="ScenicMap">
    select
    <include refid="Base_Column_List" />
    ,i.id,i.foreign_id,i.url,i.title,i.model,i.description
    from scenic s LEFT JOIN image i ON s.sid = i.foreign_id AND i.model ="scenic"
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from scenic
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from scenic
    where sid = #{sid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="sid" parameterType="edu.ynu.travel.entity.scenic.ScenicEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 23 09:27:10 CST 2016.
    -->
    insert into scenic (sid, scenic_name, city, 
      btn_text, short_desc, scenic_level, 
      scenic_price, scenic_type, scenic_site, 
      scenic_area, scenic_description)
    values (#{sid,jdbcType=INTEGER}, #{scenicName,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{btnText,jdbcType=VARCHAR}, #{shortDesc,jdbcType=VARCHAR}, #{scenicLevel,jdbcType=VARCHAR}, 
      #{scenicPrice,jdbcType=VARCHAR}, #{scenicType,jdbcType=VARCHAR}, #{scenicSite,jdbcType=VARCHAR}, 
      #{scenicArea,jdbcType=VARCHAR}, #{scenicDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="sid" parameterType="edu.ynu.travel.entity.scenic.ScenicEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 23 09:27:10 CST 2016.
    -->
    insert into scenic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="scenicName != null" >
        scenic_name,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="btnText != null" >
        btn_text,
      </if>
      <if test="shortDesc != null" >
        short_desc,
      </if>
      <if test="scenicLevel != null" >
        scenic_level,
      </if>
      <if test="scenicPrice != null" >
        scenic_price,
      </if>
      <if test="scenicType != null" >
        scenic_type,
      </if>
      <if test="scenicSite != null" >
        scenic_site,
      </if>
      <if test="scenicArea != null" >
        scenic_area,
      </if>
      <if test="scenicDescription != null" >
        scenic_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="scenicName != null" >
        #{scenicName,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="btnText != null" >
        #{btnText,jdbcType=VARCHAR},
      </if>
      <if test="shortDesc != null" >
        #{shortDesc,jdbcType=VARCHAR},
      </if>
      <if test="scenicLevel != null" >
        #{scenicLevel,jdbcType=VARCHAR},
      </if>
      <if test="scenicPrice != null" >
        #{scenicPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicType != null" >
        #{scenicType,jdbcType=VARCHAR},
      </if>
      <if test="scenicSite != null" >
        #{scenicSite,jdbcType=VARCHAR},
      </if>
      <if test="scenicArea != null" >
        #{scenicArea,jdbcType=VARCHAR},
      </if>
      <if test="scenicDescription != null" >
        #{scenicDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.ynu.travel.entity.scenic.ScenicEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 23 09:27:10 CST 2016.
    -->
    update scenic
    <set >
      <if test="scenicName != null" >
        scenic_name = #{scenicName,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="btnText != null" >
        btn_text = #{btnText,jdbcType=VARCHAR},
      </if>
      <if test="shortDesc != null" >
        short_desc = #{shortDesc,jdbcType=VARCHAR},
      </if>
      <if test="scenicLevel != null" >
        scenic_level = #{scenicLevel,jdbcType=VARCHAR},
      </if>
      <if test="scenicPrice != null" >
        scenic_price = #{scenicPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicType != null" >
        scenic_type = #{scenicType,jdbcType=VARCHAR},
      </if>
      <if test="scenicSite != null" >
        scenic_site = #{scenicSite,jdbcType=VARCHAR},
      </if>
      <if test="scenicArea != null" >
        scenic_area = #{scenicArea,jdbcType=VARCHAR},
      </if>
      <if test="scenicDescription != null" >
        scenic_description = #{scenicDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.ynu.travel.entity.scenic.ScenicEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 23 09:27:10 CST 2016.
    -->
    update scenic
    set scenic_name = #{scenicName,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      btn_text = #{btnText,jdbcType=VARCHAR},
      short_desc = #{shortDesc,jdbcType=VARCHAR},
      scenic_level = #{scenicLevel,jdbcType=VARCHAR},
      scenic_price = #{scenicPrice,jdbcType=VARCHAR},
      scenic_type = #{scenicType,jdbcType=VARCHAR},
      scenic_site = #{scenicSite,jdbcType=VARCHAR},
      scenic_area = #{scenicArea,jdbcType=VARCHAR},
      scenic_description = #{scenicDescription,jdbcType=LONGVARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>